$unit: 10px;
$color-main: #fff;
$background: #141b1c;
$background-card: #334247;
$background-basic: #5bb189;
$background-business: #3a6ba5;
$background-webshop: #EC632A;
$background-li-odd: #2A343880;
$background-badge: #DC3F45;
$box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
